@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&family=Roboto:wght@100;300&display=swap');
$color-background:#F0EFF0;
$color-header:#075E54;
$color-gray:#969696;
$conversationType1:#D7FAD1;
$conversationType2:#FDFDFD;
$color-scrollBar:#888;
$color-hoverScrollBar: #555;
$chat-background:url("/img/chatbackground.jpg");
$font-type:'Roboto';